<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<%= render "comments/form", comment: @comment %>}

<% @comment.sort.reverse.each do |comment| %>
  <p><%= comment.body %></p>
<% end %>

